@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura-Regular.ttf') format('truetype'); /* Adjust the file path and format as needed */
    font-weight: normal;
    font-style: normal;
  }
  